<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">プロフィール編集</h5>
      <div class="form-body p-4">
        <% if @user.errors.any? %>
          <%= @user.errors.count %>件のエラーが発生しました
          <% @user.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>
        <%= form_with model: @user, local:true do |f| %>
        <label for="inputImage">プロフィール画像</label>
          <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
          <div class="input-group mb-3 mt-4">
            <div class="input-group-prepend">

            </div>
            <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
          </div>
          <%= f.text_field :email, class:"form-control", rows:"3", placeholder:"メールアドレス" %>
          <hr>
          <%= f.submit '変更を保存', class:"btn btn-lg btn-block btn-info mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


