<div class="container px-5 px-sm-0" style="margin-bottom: 15px;">
  <div class="row">
  <div class="col-md-12"><br>
</div>
</div>
</div>

<div class="top-bg-center">
  <div class='container p-4'>
    <div class='row'>
      <div class='col-md-12 mx-auto text-center items-all'>
     　<% if user_signed_in? %>
    <h2 class="mt-3"><span style="background-color:#FFEBCD">いいね数ランキングTOP5</span></h2>
   <div class="item-index d-flex flex-wrap mt-3">
        <% @all_ranks.each do |tourisms| %>
        <div class="card m-2 p-3" style="width: 270px;">
           <div class="item-img-box2">
              <%= attachment_image_tag tourisms,:image, size: "237x158" %>
            </div>
            <div class="card-body">
             <p class="card-title">
               <%= link_to tourisms.title, tourism_path(tourisms.id) %>
             <p>
             <p class="card-text">
               <%= tourisms.caption %>
             </p>
            </div>
          </div>
           <% end %>
     </div>

     <div class="top-bg-center">
  <div class='container p-4'>
    <div class='row'>
      <div class='col-md-12 mx-auto text-center items-all'>
        <h2 class="mt-3"><span style="background-color:#FFEBCD">コメント数ランキングTOP5</span></h2>
        <div class="item-index d-flex flex-wrap mt-3">
        <% @tourism_comment_ranks.each do |tourisms| %>
        <div class="card m-2 p-3" style="width: 270px;">
          <div class="item-img-box2">
              <%= attachment_image_tag tourisms,:image, size: "237x158" %>
            </div>
            <div class="card-body">
             <p class="card-title">
               <%= link_to tourisms.title, tourism_path(tourisms.id) %>
             <p>
             <p class="card-text">
               <%= tourisms.caption %>
             </p>
            </div>
          </div>
           <% end %>
     </div>

      <% else %>
      <div class = "container">
    <div class = "row">
      <div class = 'first_massage col-12'>
        <h1>navitourismへようこそ</h1></br>
        <h3>まずは会員登録をお願いします</h3>

        <% end %>
