<!DOCTYPE html>
<html>
  <head>
    <title>Navitourism</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="border-bottom">
      <nav class="navbar navbar-expand-lg px-4 pt-4 pb-3" style="background-color:#524336">
        <% if user_signed_in? %>
         <ul class="nav navbar-nav">
           <li class="nav-item">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-md btn btn-outline-light mr-5" %>
           </li>
          <li class="nav-item">
          <%= link_to '投稿フォーム', new_tourism_path, class:"btn btn-md btn btn-outline-light mr-5"  %>
          </li>

         <li class="nav-item">
          <%= link_to '投稿一覧', tourisms_path, class:"btn btn-md btn btn-outline-light mr-5" %>
         </li>
        <li class="nav-item">
         <%= link_to 'マイページ', user_path(current_user.id), class:"btn btn-md btn btn-outline-light mr-5" %>
        </li>
        </ul>


        <% else %>
        <li class="nav-item">
          <%= link_to "新規登録", new_user_registration_path, class:"btn btn-md btn btn-outline-light mr-5" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログイン", new_user_session_path, class:"btn btn-md btn btn-outline-light mr-5" %>
        </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
    <%= yield %>
  </body>
</html>
